@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h2 class="display-4">Welcome to Seminarium!</h2>
	<h1 class="display-4">Explore our trees, flowers and shrubs</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
